[NETWORK]
#network settings
modemport = 3000

[STATION]
#station settings
mycall = DJ2LS
mygrid = JN20aa
ssid_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[AUDIO]
#audio settings
rx = 0
tx = 0
rxaudiolevel = 0
txaudiolevel = 0
auto_tune = False

[RADIO]
#radio settings
radiocontrol = disabled
rigctld_ip = 127.0.0.1
rigctld_port = 4532

[TNC]
scatter = False
fft = True
narrowband = False
fmin = -50
fmax = 50
qrv = True
rx_buffer_size = 16
explorer = False
stats = False
fsk = False
tx_delay = 0

[TCI]
#tci settings
ip = 127.0.0.1
port = 50001

[MESH]
#tci settings
enable_protocol = True

[Modem]
#modem settings
scatter = False
fft = True
narrowband = False
fmin = -50
fmax = 50
qrv = True
rx_buffer_size = 16
explorer = False
stats = False
fsk = False
tx_delay = 0

