[NETWORK]
modemport = 3000

[STATION]
mycall = DJ2LS-9
mygrid = JN49em
ssid_list = []

[AUDIO]
input_device = c07e
output_device = c07e
rx_audio_level = 0
tx_audio_level = 0
enable_auto_tune = False

[RADIO]
radiocontrol = disabled
rigctld_ip = 127.0.0.1
rigctld_port = 4532
radioport = None

[TCI]
tci_ip = 127.0.0.1
tci_port = 50001
ip = 127.0.0.1
port = 50001

[MESH]
enable_protocol = False

[Modem]
enable_explorer = False
enable_fft = True
tuning_range_fmax = 50
tuning_range_fmin = -50
enable_fsk = False
enable_low_bandwidth_mode = False
respond_to_cq = True
rx_buffer_size = 16
enable_scatter = False
enable_stats = False
tx_delay = 0

