/* disable scrolling in main window */
body {
  padding-right: 0px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  padding-top: calc(env(safe-area-inset-top));
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  margin: 0;
}

.header {
  padding-top: calc(env(safe-area-inset-top));
}

.footer {
  padding-bottom: env(safe-area-inset-bottom);
}

/*Progress bars with centered text*/
.progress {
  position: relative;
  transform: translateZ(0);
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* hide scrollbar in callsign list */
#callsignlist::-webkit-scrollbar {
  display: none;
}

#chatModuleMessage {
  resize: none;
}

#expand_textarea_label {
  border: 0;
  padding: 1px;
}

/* fixed border table header */
.tableFixHead {
  overflow: auto;
  height: 90vh;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}

th {
  background: #eee;
}

/* ------ emoji picker customization --------- */
.picker {
  border-radius: 10px;
}

emoji-picker {
  width: 100%;
}




/* force gpu usage
https://stackoverflow.com/questions/13176746/css-keyframe-animation-cpu-usage-is-high-should-it-be-this-way/13293044#13293044
*/

.force-gpu {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  will-change: transform;
}

/* force disable transition effects
https://stackoverflow.com/a/9622873
*/
.disable-effects {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* image overlay */

.image-overlay:hover {
  opacity: 0.75 !important;
  transition: 0.5s;
}

/* theme area */

/* default light theme mods */
[data-bs-theme="light"] {
  .card-header {
    background-color: var(--bs-card-cap-bg);
    /*--bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.3);*/
  }
}
/* default dark theme mods */
[data-bs-theme="dark"] {
  /* default dark theme mods */
}
