# possible installation of codec2 within modem
modem/codec2

# temporary test artifacts
**/build
**/Testing

package-lock.json
.DS_Store

# Other various files and virtual environments
.coverage
.coveragerc
.env
.envrc
.idea
.pytest_cache
.venv
.vscode
*.iml
*.pyc
*.raw
coverage.sh
coverage.xml

#ignore node_modules
/gui_vue/node_modules/

#Ignore gui_vue build items
/gui_vue/dist
/gui_vue/release
/gui_vue/dist-electron