# possible installation of codec2 within freedata-server
freedata-server/codec2

# temporary test artifacts
**/build
**/Testing

package-lock.json
.DS_Store

# Other various files and virtual environments
.coverage
.coveragerc
.env
.envrc
.idea
.pytest_cache
.venv
.vscode
*.iml
*.pyc
*.raw
coverage.sh
coverage.xml

#ignore node_modules
/freedata-gui/node_modules/

#Ignore freedata-gui build items
/freedata-gui/dist
/freedata-gui/release
/freedata-gui/dist-electron

#Ignore GUI config
/freedata-gui/config/config.json