# possible installation of codec2 within freedata_server
freedata_server/codec2

# temporary test artifacts
**/build
**/Testing

package-lock.json
.DS_Store

# Other various files and virtual environments
.coverage
.coveragerc
.env
.envrc
.idea
.pytest_cache
.venv
.vscode
*.iml
*.pyc
*.raw
coverage.sh
coverage.xml

#Ignore GUI config
/freedata_gui/config/config.json

#GUI_WEB
/freedata_gui/dist
/freedata_gui/node_modules/
/freedata_gui/node_modules!/venv/

# venv packages
venv_3.11/
venv/
test_venv/
freedata_server/lib/codec2/codec2/
