numpy
psutil
PyAudio
pyserial
sounddevice
structlog
requests
chardet
colorama
ordered-set
nuitka<=2.8.4
pyinstaller
websocket-client
fastapi[standard]
uvicorn[standard]

# Development and test dependencies
autopep8
black
isort
pycodestyle
pytest
pytest-cov
pytest-rerunfailures
pick
sqlalchemy
