altgraph
attrs
autopep8
black
cffi
click
crcengine
importlib-metadata
iniconfig
isort
MarkupSafe
mypy-extensions
numpy
pathspec
pluggy
py
PyAudio
pycodestyle
pycparser
pyinstaller
pyserial
pytest
pytest-cov
pytest-cover
pytest-coverage
pytest-rerunfailures
sounddevice
structlog
ujson
zipp
