/* disable scrolling in main window */
body {
    padding-right: 0px !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

/*Progress bars with centered text*/
.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* hide scrollbar in callsign list */
#callsignlist::-webkit-scrollbar {
  display: none;
}

#chatModuleMessage {
    resize: none;
    border-radius:15px;
}

#expand_textarea_label{
    border: 0;
    padding: 1px;
}
