/* disable scrolling in main window */ 
body { 
    padding-right: 0px !important;
    overflow-y: hidden !important;
}

/*Progress bars with centered text*/
.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
