[NETWORK]
modemaddress = 127.0.0.1
modemport = 5000

[STATION]
mycall = AA1AAA
mygrid = JN48ea
myssid = 1
ssid_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
enable_explorer = False
enable_stats = False
respond_to_cq = True
enable_callsign_blacklist = False
callsign_blacklist = []

[AUDIO]
input_device = 5a1c
output_device = bd6c
rx_audio_level = 0
tx_audio_level = 0
rx_auto_audio_level = True
tx_auto_audio_level = False

[RIGCTLD]
ip = 127.0.0.1
port = 4532
path = 
command = 
arguments = 
enable_vfo = False

[FLRIG]
ip = 127.0.0.1
port = 12345

[RADIO]
control = disabled
model_id = 1001
serial_port = /dev/cu.Bluetooth-Incoming-Port
serial_speed = 38400
data_bits = 8
stop_bits = 1
serial_handshake = ignore
ptt_port = ignore
ptt_mode = TX
ptt_type = USB
serial_dcd = NONE
serial_dtr = OFF
serial_rts = OFF

[MODEM]
enable_morse_identifier = False
tx_delay = 50
maximum_bandwidth = 2438

[SOCKET_INTERFACE]
enable = False
host = 127.0.0.1
cmd_port = 9000
data_port = 9001

[MESSAGES]
enable_auto_repeat = True

[QSO_LOGGING]
enable_adif_udp = False
adif_udp_host = 127.0.0.1
adif_udp_port = 2237
enable_adif_wavelog = False
adif_wavelog_host = http://raspberrypi
adif_wavelog_api_key = API-KEY

[GUI]
auto_run_browser = True
distance_unit = km

[EXP]
enable_ring_buffer = False
enable_vhf = False

