name: Build and push docker image when tagged
on:
  push:
    tags:
      - "*"

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Clone Repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the GitHub Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/g7ufo/freedata:latest
            ghcr.io/g7ufo/freedata:${{ github.ref_name }}
          labels: |
            org.opencontainers.image.title=FreeDATA
            org.opencontainers.image.description=Docker image for FreeDATA
            org.opencontainers.image.url=https://github.com/g7ufo/freedata/pkgs/container/freedata/
